.center {
    margin-top: -15vh;
    display: flex;
    justify-content: center;
    z-index: -1;
  }

.right {
  text-align: right;
  cursor:pointer;
}

.end {
    cursor:pointer;
    font-weight: 550;
    background-color: red;
    border: none;
    color: antiquewhite;
    border-radius: 10%;
    padding: 5px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:10px 0px;
    margin-left: 70px;
}