:host {
    font-family: -apple-system, BlinkMacSystemFont, Comic, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .back {
    font-weight: 550;
    background-color: antiquewhite;
    border: none;
    color: #78C0A8;
    border-radius: 10%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:10px 0px;
    margin-left: 70px;
    cursor:pointer;
  }
    
  .toolbar {
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #78C0A8;
    color: black;
    font-weight: 400; /*changes the top left header boldness*/
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }