<link rel="stylesheet" href="schedule.component.css">

<h1 class="header">Enter your classes</h1>

<!-- <div class="greeting">
    <p>It's grind time!</p>
</div> -->

<form id="classes">
    <div class="logincontainer">
        <div class="loginline">
            <label for="classname">class name:&nbsp;</label>
            <input class="prettyopt" type="text" id="classname" name="classname" placeholder="ex. ICS 132">
        </div>
        <div class="loginline">
            <label for="professor">professor:&nbsp;</label>
            <input class="prettyopt" type="text" id="professor" name="professor" placeholder="ex. Smith">
        </div>
    </div>

    <div class="center">
        <input class="save" type="button" value="Save Class">
    </div>

    <div class="center">
        <input class="save" type="button" value="View Classes">
    </div>

    <nav class="center">
        <a routerLink="/hub" routerLinkActive="active">
            <input class="save" type="button" value="Back to Hub">
        </a>
    </nav>

</form>

<!-- <div class="submitbutton" >
    <button id="saveclass" >Save Class</button>
</div> -->