<link rel="stylesheet" href="sign-up.component.css">

<h1 class="header">Sign-up</h1>

<div class="greeting">
    <p>So glad you're able to join our community of academic weapons!</p>
</div>


<div class="logincontainer">
    <div class="loginline">
        <label for="username">username:</label>
        <input class = "prettyopt" type="text" id="username" name="username" placeholder="ex. venus23">
    </div>
    <div class="loginline">
        <label for="email">email:</label>
        <input class = "prettyopt" type="text" id="email" name="email" placeholder="ex. supercoder@gmail.com">
    </div>
    <div class="loginline">
        <label for="password">password:</label>
        <input class = "prettyopt" type="password" id="password" name="password" placeholder="••••••">
    </div>
</div>

<!-- <div class="submitbutton">
    <button>Submit</button>
</div> -->

<nav class="center">
    <a routerLink="/schedule" routerLinkActive="active">
            <input class="save" type="button" value="Submit">
    </a>
</nav>