<link rel="stylesheet" type="text/css" href="hub.component.css">
<meta charset="UTF-8">


<div class="dots">

    <a routerLink="/connect" routerLinkActive="active">
        <span id="left" class="dot">
            <img class="people" alt="People" src="assets/people.png" />
        </span>
    </a>

    <a routerLink="/schedule" routerLinkActive="active">
        <span id="right" class="dot">
            <img class="calendar" alt="People" src="assets/calendar.png" />
        </span>
    </a>

</div>